{{page-title "Dummy"}}

<h2 id="title">Welcome to Ember</h2>

<Textarea {{auto-resize}} />
<Textarea @value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel odit quibusdam autem eligendi eos error minus ipsum ad saepe! Laudantium, non. Eum praesentium tempore laboriosam asperiores beatae fuga sapiente aliquid?" {{auto-resize}} />

{{outlet}}
